@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: hsl(0, 0%, 5%);
}

header {
  background-color: hsl(0, 0%, 5%);
  margin-bottom: 40px;
}

.logo {
  font-family: "Archivo Black", sans-serif;
  font-size: 65px;
  color: hsl(317, 0%, 94%);
  text-align: center;
  letter-spacing: -3;
  margin: 0;
}

/* ---  Navigation --- */

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: hsl(317, 0%, 94%);
  text-decoration: none;
  padding: 0 20px 0 0;
  font-family: "Montserrat Alternates", sans-serif;
}

header nav ul li a:hover {
  color: hsl(317, 0%, 94%);
}

@media all and (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin: 14px 0 14px 20px;
    padding-top: 0;
    font-size: 42px;
  }

  header nav {
    margin-top: 14px;
  }
}

/* ---  Primary Groups --- */

main {
  padding: 20px 0;
}

section {
  margin-bottom: 100px;
}

section.portfolio {
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0px 0;
}

footer {
  background-color: hsl(0, 0%, 5%);
  margin-top: 40px;
  margin-bottom: 0;
}

/* ---  Typography --- */

h1 {
  font-size: 28px;
  font-family: "Archivo Black", sans-serif;
  color: hsl(317, 0%, 94%);
  font-weight: 400;
}

h2 {
  font-size: 26px;
  font-family: "Archivo Black", sans-serif;
  color: hsl(317, 0%, 94%);
  font-weight: 400;
  margin: 0 10px;
}

h3 {
  font-size: 18px;
  font-family: "Archivo Black", sans-serif;
  color: hsl(317, 0%, 94%);
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-family: "Archivo Black", sans-serif;
  color: hsl(317, 0%, 94%);
  font-weight: 500;
}

p {
  font-family: "Open Sans", sans-serif;
  color: hsl(317, 0%, 94%);
  line-height: 1.5em;
  margin-bottom: 0;
}

main a {
  font-weight: 700;
  text-decoration: none;
}

main a:link {
  color: #fed8b1;
}
main a:visited {
  color: #fed8b1;
}
main a:hover {
  color: #77dd77;
}
a:active {
  color: #77dd77;
}

a:hover {
  text-decoration: underline;
}

footer p {
  color: hsl(317, 0%, 94%);
  text-align: center;
  padding: 20px;
}

main img {
  width: 100%;
}

img.image-enhanced {
  border-radius: 8px;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* ---  (Desktop) Groups & Items --- */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  section.portfolio {
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0px 0;
    padding: 0;
  }
  .group {
    flex-direction: row;
  }
}

/* Contact Form Design */

fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 12% 0;
  align-items: center;
}

form label {
  width: 100%;
  font-size: 20px;
  margin-bottom: 8px;
  color: hsl(317, 0%, 94%);
  font-family: "Open Sans", sans-serif;
}

form input[type="text"] {
  width: 100%;
  color: hsl(0, 0%, 5%);
  font-size: 20px;
  margin-bottom: 20px;
}

form textarea {
  width: 100%;
  color: hsl(317, 0%, 94%);
  font-size: 20px;
  margin-bottom: 20px;
}

form button {
  width: 50%;
  padding: 10px 16px;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  background: hsl(317, 0%, 94%);
  color: hsl(0, 0%, 5%);
}

@media all and (min-width: 800px) {
  .form-container {
    margin: 0 5%;
  }

  form label,
  form input[type="text"],
  form textarea,
  form button {
    font-size: 16px;
  }
}